.main-body{
  /* margin: 30px; */
  background-color: #fff;
  /* margin-left: 30; */
  width: 100vw;
 margin:0 auto;
 overflow-x: hidden;
 font-family:'Poppins'
 
}
a{
    text-decoration: none;
}
p{
    font-size: 13px;
}
.sidebar-panel-navigation{
    margin-top: 5rem;
}
.logo-style{
    margin-top: 0rem;
    width: 2rem;
    height: 3rem;
    margin-left: 1rem;
}
.sidebar-panel-navigation a{
    text-decoration: none;
    color: #ffffff;
}
.sidebar-panel-navigation li{
    margin-top: 2rem;
    font-size: 2rem;
    color: #ffffff;
    text-decoration: none;
}
.frame-1{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    height:120vh;
    width:100%;
    color:#ffffff;
    /* background-image: url(/homepageImage.svg) */
}
.navigation-menu{
    display:flex;
    top: 0px;
    flex-direction:row;
    width:50%;
    padding-left:2rem;
    padding-top:0.8rem;

}
.logo-container{
    /* display: none;
    visibility: hidden; */
     width:50%;
     padding-left:2rem;
}
.navigation-list{
    padding-left: 6rem;
    display:flex;
    top: 0px;
    flex-direction:row;
     width:50%;
     align-items: center;
}
.nav-link{
    margin-left:1rem;
    margin-right:1rem;
    color: #ffffff;
    
}
.token-roadmap-header{
    margin-top: 2rem;
    margin-bottom: 0;
}
.welcome-section{
    width:100%;
    padding: 6rem;


}
.welcome-container{
    width: 100%;
    height: 100%;
  
     background-image: url("./images/mainHomeSvg.svg");
background-repeat: no-repeat;
background-size:contain; 
 
}
.second-section{
    width: 10%;
    height: 100%;
    display: flex;
    visibility: visible;
      background-color: #620C0D;
    
}
.welcome-header{
    font-size:56px;
    width:50%;
    margin-bottom: 0;
    
}
.nav-menu-bar{
    display: none;
    visibility: invisible;
   
}
.welcome-text{
    font-size:16px;
    width:30%;
    margin-top: 0;
}
.welcome-button{
   
    margin-top: 1.5rem;
    
    display:flex;
    justify-content:center;
    align-items:center;
  
    width: 130px;
height: 45px;
background-color: #ffffff;

}
.welcome-button p{
    font-size:16px;
    color: #620C0D;
}

.frame-2{
    margin-top: -7rem;
    padding: 2rem;
    display:flex;
    flex-direction: row;
    width:100%;
    align-items: center;
    justify-content: center;
}
.about-image{
    width:40%;
     align-items: center;
    justify-content: center;
    display:flex;
    margin-right: 2rem;
}
.about-info-section{
    width:50%;
    padding-top:5rem;
}
.about-header{
    width: 30rem;
}
.about-sub-header{
    color:#620C0D
}


.about-text{
    width: 65%;
}

.about-link{
     border-width:0.1rem;
    border-color: #000000;
    padding:0.1rem;
    width:8rem;
    height:2.5rem;
    display:flex;
    justify-content:center;
    align-items:center;
    border-style:solid;
    color: #000000;
}

.about-mission{
    margin-top: 8rem;
    display: flex;
    flex-direction: row;
    width: 40%;
}
.about-card{
    width: 214px;
    margin: 1rem;
}

.about-card h3{
    color: #620C0D ;
    font-size: 24px;
    
}
.about-card p{
    color: #000000 ;
    font-size: 13px;
    
}

.partners-page{
    padding: 6rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #620C0D;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    height: 325px;

}

 .about-image-container{
      padding: 6rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
  }

  .about-image-style{
      width: 35rem;
  }

.tokenomics-distribution-image-style{

}

.partners-page h1{
    color: #fff;
    font-size: 36px;
}

.partners-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.partners-section img{
    margin: 1rem;
    width: 15rem;
}

.frame-3{
    width: 100%;
    padding-top: 2rem;
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center
}

.objectives-header{
    display: flex;
    font-size: 36px;
    align-self: center;
    text-align: center;
    color: #620C0D;
}



.objectives-container{
    width:100%;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    padding-top: 2rem;
    align-items: center;
    justify-content: center;
}

.objectives-card{
    margin:0rem;
}

.objectives-component{
    display: flex;
    visibility: visible;
}

.mobile-objectives-component{
 display: none;
    visibility: hidden;
}

#tokenomics-page{
    width:100%;
    padding-top: 2rem;
    padding:6rem;
    display:flex;
    flex-direction:row;
   
}

.tokenomics-info-section{
    width:50%;
    padding-top:5rem;
    display: flex;
    flex-direction: column;
}

.tokenomics-image{
    width:50%;
    padding:2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 12rem;
    margin-right: 6rem;
}
.tokenomics-image-style{
    width: 35rem;
    height: 30rem;
    display: flex;
    visibility: visible;
}
.mobile-tokenomics-image-style{
    width: 35rem;
    display: none;
    visibility: hidden;
}
.tokenomics-header{
color:rgba(53, 44, 44, 1)
}

.frame-4{
    /* background: url('ubuntuDAO.svg'), #620C0D; */
   
    width: 100%;
    display:flex;
    flex-direction:column;
   padding-top:0;
   color:#ffffff;
    align-items:center;
    padding: 0%;
}

.token-distribution-header{
    justify-self: center;
    align-self: center;
    margin-top: 2rem;
}
.project-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.project-card{
    background: #ffffff;
    width: 345px;
    height: 201px;
    border: #fff solid ;
    margin: 1rem;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.project-card h3{
    color: #620C0D ;
    font-size: 24px;
    margin-top: 0.5rem;
    
    
}
.project-card p{
    font-size: 13px;
    color: #000000;
    margin: 0;
   
}

.token-distribution-header{
    color:#ffffff;
    margin-bottom:5rem;
}
.token-roadmap-image{
    margin-top:2rem;
    margin-bottom: 5rem;
}
.token-distribution-image-style{
     display:flex;
     visibility:visible;
     justify-self: center;
     align-self: center;
}
.token-roadmap-image-style{
   display:flex;
     visibility:visible;
}


.mobile-distribution-image-style{
     display:none;
     visibility:invisible;
     margin:-10rem;
     width:5rem;
    
}
.mobile-roadmap-image-style{
     display:none;
     visibility:invisible;
     
     width:5rem;
}

.footer{
    height:384px;
    display:flex;
    flex-direction: row;
    padding:5rem;
    width: 100%;
}
.footer-logo{
    margin: 1rem;
    width: 79px;
    height: 88px;
}
.footer p{
    font-size:20px;
    color:#620C0D;
}
.footer-social{
    display:flex;
    flex-direction: row;
    margin-top: 1rem;
}
.footer-social div{
    margin: 0.5rem;
}
.footer-section-1{
    margin: 1rem;
    width: 20rem;
    flex-direction:column;
    display:flex;
    justify-content:flex-end;
}
.footer-section-2{
   width: 20rem;
    display:flex;
    align-items:flex-end;
    justify-content:center;
    margin: 1rem;
    display: flex;
    visibility: visible;
}


.footer-section-3{
    width: 30rem;
  flex-direction:column;
    display:flex;
    justify-content:flex-end;
    align-items:flex-end;
    margin: 1rem;
}
.mobile-footer-section-2{
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: none;
    visibility: hidden;
}


 
/* responsiveness */

@media (min-width:240px) and (max-width: 900px) {
  .main-body{
    overflow-x: hidden;
     margin:0 auto;
     max-width: 100vw;
  }
  .frame-1{
     display: flex;
     flex-direction: column;
     width: 100vw;
     height: 100vh;
      

     
  }
  .navigation-menu{
    
    display:flex;
    flex-direction:row;
    width:50%;
    padding-left:0.2rem;
    padding-top:0.8rem;

}

.logo-style{
    margin-top: 0;
    width: 2rem;
    height: 3rem;
}

.navigation-list{
    display:flex;
    top: 0px;
    flex-direction:row;
     width:100%;
     padding-left:0;
     align-items: flex-end;
     justify-content: flex-end;
}
.nav-link{
display: none;
    visibility: invisible;
    margin:0.2rem;
    font-size:0.7rem;
    color: #ffffff;
}
.nav-menu-bar{
    display: flex;
    position: absolute;
    top: 1rem;
    right: 2.5rem;
    visibility: visible;
    
    justify-self: flex-end;
    align-self: flex-end;
}
 .logo-container{
     padding-left:1rem;
     width:2rem;
 }
  .welcome-section{
      padding:0rem;
      padding-top:6rem;
      justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
   
      
  }

  .welcome-header{
    font-size:44px;
    margin-bottom: 1rem;
    width:100%;
    text-align: center;
    
}
  .welcome-text{
      font-size:16px;
      width: 90%;
      text-align: center;
      margin-bottom: 1rem;
  }
  .welcome-button{
      margin-top: 1rem;
      width: 150px;;
      border:none;
      height:50px;
  }
  .welcome-button p{
      font-size:16px;
  }

  .welcome-container{
    width: 100%;
    height: 100%;
      background-image: url("./images/mobileHomeSvg.svg");
background-repeat: no-repeat;
background-size:auto;
background-color: #620C0D;
    
}

.second-section{
width: 100%;
display: flex;
    height: 10%;
    margin: 0;
    background-color: #c58f90;
     display: none;
    visibility: hidden;
   
}

  .frame-2{
      margin-top: 0rem;
      flex-direction:column;
      display:flex;
      padding:0;
      width: 100%;
      align-items: center;
      justify-content: center;
      align-self: center;
      
      
  }
  .about-image-container{
      padding: 0rem;
      flex-direction: column;
  }
  .about-image-style{
      width:20rem;
      margin-right: 2rem;
      align-self: center;
      justify-self: center
  }
  .about-info-section{
      width:90%;
      margin:1rem
  }
  .about-header{
      width: 20rem;
  }
  .about-text{
      font-size:0.8rem;
      width: 90%;
      
   
  }
.about-mission{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.about-card{
    width: 80%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
}

  .frame-3{
      display:flex;
      width: 100vw;
      max-width: 100vw;
      flex-direction:column;
      padding:0rem;
      align-items: center;
      justify-content: center;
     
  }
  .objectives-container{
      width: 100%;
      padding:0;
     
      display:flex;
      flex-direction:column;
      align-items: center;
      justify-content: center;
     
  }

  .objectives-component{
       display: none;
    visibility: hidden;
  
}

.mobile-objectives-component{
   display: flex;
    visibility: visible;
   
    margin: 0;
    align-self: center;
}

  .objectives-header{
    font-size: 24px;
    margin-top: 2rem;
 
}
.objectives-card{
    margin:2rem;
    margin-top: 0;
}

.partners-page{
    padding: 0rem;
    margin-top: 2rem;
    height: 167px;
  

}
.partners-page h1{
    font-size: 20px;
}
.partners-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.partners-section img{
    width: 8rem;
    margin: 0.2rem;
    margin-left: 0.5rem;
    margin-right: 1rem;
}


#tokenomics-page{
    width: 100%;
    padding:1rem;
    display:flex;
    flex-direction:column;
   
}

.tokenomics-info-section{
    width:80%;
    padding:2rem;
    padding-right: 4rem;
}
.tokenomics-info-section h1{
    font-size:1.5rem;
}

.tokenomics-info-section p{
    font-size:0.8rem;
}

#token-roadmap-header{
    margin-top: 2rem;
}

.tokenomics-image{
    width:100%;
    margin-top: 0rem;
    padding:0rem;
    margin-right: 0rem;
    margin-left: 0rem;
    display:flex;
    flex-direction:row;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
   
}
.tokenomics-image-style{
    width:100%;
    height:15rem;
    margin:1rem;
    
   
    align-self: center;
 display: none;
    visibility: hidden;
   
}
.mobile-tokenomics-image-style{
    width:90%;
   display: flex;
    visibility: visible;
}
.tokenomics-text:{

}
.tokenomics-header{
width: 20rem;
}

.frame-4{
    /* background: url('ubuntuDAO.svg'), #620C0D; */
    display:flex;
    flex-direction:column;
   padding-top:0rem;
   padding-left:0;
   width: 100%;
  
}
.frame-4 h1{
    font-size:1.2rem;
   
    
}
.project-container{
    display: flex;
    flex-direction: column;
}
.project-card{
    background: #ffffff;
    width: 345px;
    height: 201px;
    border: #fff solid ;
    margin: 1rem;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}


.footer{
    display:flex;
    flex-direction:row;
    padding:0rem;
}
.footer-section-1{
    width: 40%;
}
.footer-section-2{
  width: 30%;
    align-items:flex-end;
     display: none;
    visibility: hidden;
    
}

.mobile-footer-section-2{
    width: 100%;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    visibility: visible;
}
.footer-section-2 p{
     font-size: 12px;
}


.footer-section-3{
    align-items: flex-start;
    display: flex;
    width: 40%;
    text-align: center;

}

.footer-section-3 p{
    font-size: 12px;
    text-align: center;
}
.footer-social p{
    margin:0.5rem
}
.footer-social div{
    margin:0.2rem;
    width: 26px;

}

.footer p{
    font-size:14px
}

.token-distribution-image-style{
     display:none;
    visibility:hidden;
}
.token-roadmap-image-style{
    display:none;
    visibility:hidden;
}
.mobile-distribution-image-style{
     display:flex;
     visibility:visible;
     margin-top:-2rem;
     margin-bottom:2rem;
  
}
.mobile-roadmap-image-style{
     display:flex;
     visibility:visible;
     margin-top: -4rem;
   
 
    
}
.tokenomics-image-style{
    /* height:20rem; */
    width: 20rem;
}
#promotion{
    margin-left:-3rem;
}

.project-card{
 
    width: 90%;
    height: 201px;
    
}


}









