.main-body{
  /* margin: 30px; */
  background-color: #fff;
  /* margin-left: 30; */
 margin:0 auto;
 font-family:'roboto'
 
}

.frame-1{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    height:100vh;
    width:100%;
    color:#ffffff;
    /* background-image: url(/homepageImage.svg) */
}
.navigation-menu{
    display:flex;
    top: 0px;
    flex-direction:row;
    width:50%;
    padding-left:2rem;
    padding-top:0.8rem;

}
.logo-container{
     width:50%;
     padding-left:6rem;
}
.navigation-list{
    display:flex;
    top: 0px;
    flex-direction:row;
     width:50%;
}
.nav-link{
    margin-left:1rem;
    margin-right:1rem;
}
.welcome-section{
    width:100%;
    padding: 6rem;
}

.welcome-header{
    font-size:2rem;
    width:50%;
    
}
.nav-menu-bar{
    display: none;
    visibility: invisible;
   
}
.welcome-text{
    font-size:18px;
    width:40%;
}
.welcome-button{
    border-width:0.1rem;
    border-color: #000000;
    padding:0.1rem;
    width:8rem;
    display:flex;
    justify-content:center;
    align-items:center;
    border-style:solid;
    width: 10rem;
height: 4rem;
color: #ffffff;

}
.welcome-button p{
    font-size:18px;
    color: #ffffff;
}

.frame-2{
    padding: 6rem;
    display:flex;
    flex-direction: row;
    width:100%;
}
.about-image{
    width:50%
}
.about-info-section{
    width:50%;
    padding-top:5rem;
    margin-right:10rem;
}
.about-header{
color:rgba(53, 44, 44, 1)
}
.about-sub-header{
    color:#620C0D
}


.about-text{

}

.about-link{
     border-width:0.1rem;
    border-color: #000000;
    padding:0.1rem;
    width:8rem;
    height:2.5rem;
    display:flex;
    justify-content:center;
    align-items:center;
    border-style:solid;
    color: #000000;
}

.frame-3{
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center
}

.objectives-header{
    margin-right:5rem;
    color:rgba(53, 44, 44, 1)
}



.objectives-container{
    width:100%;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    padding:6rem;
}

.objectives-card{
    margin:0.8rem;
}

.tokenomics-page{
    width:100%;
    padding:6rem;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}

.tokenomics-info-section{
    width:50%;
    padding-top:10rem;
}

.tokenomics-image{
    width:50%;
    padding:5rem;
}
.tokenomics-header{
color:rgba(53, 44, 44, 1)
}

.frame-4{
    /* background: url('ubuntuDAO.svg'), #620C0D; */
    height:1793px;
    display:flex;
    flex-direction:column;
   padding-top:15rem;
   color:#ffffff;
    align-items:center;
}

.token-distribution-header{
    color:#ffffff;
    margin-bottom:5rem;
}
.token-roadmap-image{
    margin-top:10rem;
}
.token-distribution-image-style{
     display:flex;
     visibility:visible;
}
.token-roadmap-image-style{
   display:flex;
     visibility:visible;
}
.mobile-distribution-image-style{
     display:none;
     visibility:invisible;
     margin:-10rem;
     width:5rem;
    
}
.mobile-roadmap-image-style{
     display:none;
     visibility:invisible;
     margin:-10rem;
     width:5rem;
}

.footer{
    height:300px;
    display:flex;
    flex-direction: row;
    padding:5rem;
}

.footer p{
    font-size:1.2rem;
    color:#620C0D;
}
.footer-social{
    display:flex;
    flex-direction: row;
}
.footer-social p{
    margin: 0.5rem;
}
.footer-section-1{
    width:30%;
    flex-direction:column;
    display:flex;
    justify-content:flex-end;
}
.footer-section-2{
    width:30%;
    display:flex;
    align-items:flex-end;
    justify-content:center;
}


.footer-section-3{
    width:30%;
  flex-direction:column;
    display:flex;
    justify-content:flex-end;
    align-items:flex-end;
}


 
/* responsiveness */

@media (min-width:240px) and (max-width: 600px) {
  .main-body{
    overflow-x: hidden;
  }
  .frame-1{
     max-width:100%;
     height: 40rem;
  }
  .navigation-menu{
    
    display:flex;
    flex-direction:row;
    width:50%;
    padding-left:0.2rem;
    padding-top:0.8rem;

}
.navigation-list{
    display:flex;
    top: 0px;
    flex-direction:row;
     width:50%;
     padding-left:12rem;
     align-items: flex-end;
     justify-content: flex-end;
}
.nav-link{
display: none;
    visibility: invisible;
    margin:0.2rem;
    font-size:0.7rem;
}
.nav-menu-bar{
    display: flex;
    position: absolute;
    top: 10px;
    right: 30px;
    visibility: visible;
    
    justify-self: flex-end;
    align-self: flex-end;
}
 .logo-container{
     padding-left:1rem;
     width:2rem;
 }
  .welcome-section{
      padding:3rem;
      padding-top:10rem;
  }
  .welcome-text{
      font-size:1.2rem;
      width: 70%;
  }
  .welcome-button{
      width:7rem;
      border:none;
      height:2rem;
  }
  .welcome-button p{
      font-size:0.8rem;
  }

  .frame-2{
      flex-direction:column;
      display:flex;
      padding:0;
      width: 100%;
      
      
  }
  .about-image-style{
      width:20rem;
      margin-left: 2rem;
  }
  .about-info-section{
      width:80%;
      margin:1rem
  }
  .about-header{
      font-size:1.5rem;
  }
  .about-text{
      font-size:0.8rem;
      padding-right:2rem;
   
  }
  .frame-3{
      display:flex;
      flex-direction:column;
      padding:1rem;
      align-items: center;
      justify-content: center;
  }
  .objectives-container{
      padding:0;
      display:flex;
      flex-direction:column;
      align-items: center;
      justify-content: center;
    width:100%;
  }

  .objectives-header{
    margin-left:-5rem;
    font-size:1.3rem;
}
.objectives-card{
    margin:0.2rem;
}

.tokenomics-page{
    width:100%;
    padding:1rem;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}

.tokenomics-info-section{
    width:80%;
    padding:1rem;
}
.tokenomics-info-section h1{
    font-size:1.5rem;
}

.tokenomics-info-section p{
    font-size:0.8rem;
}


.tokenomics-image{
    width:80%;
    padding:0rem;
    display:flex;
    flex-direction:row;
   
}
.tokenomics-image-style{
    width:25rem;
    height:20rem;
    margin:1rem;
}
.tokenomics-text:{

}

.frame-4{
    /* background: url('ubuntuDAO.svg'), #620C0D; */
    height:2000px;
    display:flex;
    flex-direction:column;
   padding-top:2rem;
   padding-left:0;
   align-items: center;
   justify-content: center;
  
}
.frame-4 h1{
    font-size:1.2rem;
   
    
}

.footer{
    display:flex;
    flex-direction:column;
    padding:1rem;
}
.footer-social p{
    margin:0.5rem
}

.footer p{
    font-size:0.8rem
}

.token-distribution-image-style{
     display:none;
    visibility:hidden;
}
.token-roadmap-image-style{
    display:none;
    visibility:hidden;
}
.mobile-distribution-image-style{
     display:flex;
     visibility:visible;
     margin-top:-2rem;
     margin-bottom:2rem;
  
}
.mobile-roadmap-image-style{
     display:flex;
     visibility:visible;
   
 
    
}
.tokenomics-image-style{
    height:20rem;
}
#promotion{
    margin-left:-3rem;
}

}









