/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap') */
body {
  width:100%;
margin-left:auto; 
 margin:0 auto;
margin-right:auto;
  overflow-x:hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', Poppins, 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
