


/* unused section */
.desktop---8 {
  height: 5975px;
  width: 100wh;
  display:flex;
  overflow-x: hidden;
  background-color: #ffffff;
  border: 20;
  /* margin: 30px; */
  padding: 30px;
   background-image: url("paper.gif");
}
.akar--icons-:telegram--fill {
  height: 30px;
  width: 30px;
  background-color: #ffffff;
}
.img-1 {
  height: 30px;
  width: 30px;
}
.img-2 {
  height: 30px;
  width: 30px;
  background-color: #ffffff;
}

.App-Frame{
    border-color:"#ff0000";
    border-width: "10px"
}
.akar--icons-:twitter--fill {
  height: 30px;
  width: 30px;
  background-color: #ffffff;
}
.img-3 {
  height: 23px;
  width: 28px;
}
.akar--icons-:facebook--fill {
  height: 30px;
  width: 30px;
  background-color: #ffffff;
}
.img-4 {
  height: 30px;
  width: 30px;
}
.img-5 {
  height: 30px;
  width: 30px;
  background-color: #ffffff;
}
.akar--icons-:reddit--fill {
  height: 30px;
  width: 30px;
  background-color: #ffffff;
}
.img-6 {
  height: 30px;
  width: 30px;
}
.frame-1 {
  height: 1027px;
  width: 100%;
  margin: 20px;
 }
.img-7 {
  height: 1145px;
  width: 100%;
  background-color: #620c0d;
}
.frame-1-5 {
  height: 1275px;
  width: 1067px;
  background-color: #ffffff;
}
.frame-1-4 {
  height: 1381px;
  width: 1553px;
  background-color: #ffffff;
}
.img-8 {
  height: 1059px;
  width: 1356px;
}
.text-9 {
  text-align: left;
  vertical-align: top;
  font-size: 64px;
  font-family: Poppins;
  line-height: auto;
  color: #ffffff;
}
.text-1-0 {
  text-align: left;
  vertical-align: top;
  font-size: 18px;
  font-family: Poppins;
  line-height: auto;
  color: #ffffff;
}
.frame-9 {
  height: 64px;
  width: 203px;
  background-color: #ffffff;
}
.img-1-1 {
  height: 64px;
  width: 197px;
  background-color: #ce6828;
}
.text-1-2 {
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  font-family: Poppins;
  line-height: auto;
  color: #ffffff;
}
.frame-1-7 {
  height: 44px;
  width: 642px;
  background-color: #ffffff;
}
.ellipse-1 {
  height: 43px;
  width: 43px;
}
.frame-1-0 {
  height: 23px;
  width: 89px;
}
.frame-1-1 {
  height: 31px;
  width: 117px;
}
.frame-1-2 {
  height: 44px;
  width: 113px;
}
.text-1-3 {
  text-align: center;
  vertical-align: top;
  font-size: 36px;
  font-family: Poppins;
  line-height: auto;
  color: #352b2b;
}
.group-9 {
  height: 494px;
  width: 1576px;
}
.text-1-4 {
  opacity: 0.10000000149011612;
  text-align: left;
  vertical-align: top;
  font-size: 96px;
  font-family: Poppins;
  letter-spacing: 9%;
  line-height: auto;
  color: #620c0b;
}
.text-1-5 {
  text-align: left;
  vertical-align: top;
  font-size: 36px;
  font-family: Poppins;
  line-height: auto;
  color: #352b2b;
}
.text-1-6 {
  text-align: left;
  vertical-align: top;
  font-size: 18px;
  font-family: Poppins;
  line-height: auto;
  color: #620c0d;
}
.text-1-7 {
  text-align: left;
  vertical-align: top;
  font-size: 13px;
  font-family: Poppins;
  letter-spacing: 3.5%;
  line-height: 212.5%;
  color: #352b2b;
}
.frame-1-8 {
  height: 463px;
  width: 494px;
  background-color: #ffffff;
}
.frame-4 {
  height: 226px;
  width: 235px;
  background-color: #ff0000;
}
.img-1-8 {
  height: 226px;
  width: 235px;
}
.ellipse-3-4 {
  height: 191px;
  width: 201px;
}
.frame-5 {
  height: 226px;
  width: 235px;
  background-color: #ffffff;
}
.img-1-9 {
  height: 226px;
  width: 235px;
}
.ellipse-3-4 {
  height: 191px;
  width: 201px;
}
.component-7 {
  height: 73px;
  width: 366px;
  background-color: #ffffff;
}
.component-7 {
  height: 73px;
  width: 366px;
  background-color: #ffffff;
}
.rectangle-6 {
  border-radius: 5px;
  height: 73px;
  width: 366px;
  background-color: #ffffff;
}
.text-2-0 {
  text-align: left;
  vertical-align: top;
  font-size: 14px;
  font-family: Poppins;
  letter-spacing: 3.5%;
  line-height: 175.99999904632568%;
  color: #333333;
}
.img-2-1 {
  height: 43px;
  width: 39px;
}
.component-6 {
  height: 72px;
  width: 366px;
  background-color: #ffffff;
}
.component-6 {
  height: 72px;
  width: 366px;
  background-color: #ffffff;
}
.rectangle-7 {
  border-radius: 5px;
  height: 72px;
  width: 366px;
  background-color: #ffffff;
}
.text-2-2 {
  text-align: left;
  vertical-align: top;
  font-size: 14px;
  font-family: Poppins;
  letter-spacing: 3.5%;
  line-height: 175.99999904632568%;
  color: #333333;
}
.img-2-3 {
  height: 43px;
  width: 39px;
}
.component-5 {
  height: 72px;
  width: 366px;
  background-color: #ffffff;
}
.component-5 {
  height: 72px;
  width: 366px;
  background-color: #ffffff;
}
.rectangle-8 {
  border-radius: 5px;
  height: 72px;
  width: 366px;
  background-color: #ffffff;
}
.text-2-4 {
  text-align: left;
  vertical-align: top;
  font-size: 14px;
  font-family: Poppins;
  letter-spacing: 3.5%;
  line-height: 175.99999904632568%;
  color: #333333;
}
.img-2-5 {
  height: 43px;
  width: 39px;
}
.component-4 {
  height: 73px;
  width: 366px;
  background-color: #ffffff;
}
.component-4 {
  height: 73px;
  width: 366px;
  background-color: #ffffff;
}
.rectangle-9 {
  border-radius: 5px;
  height: 73px;
  width: 366px;
  background-color: #ffffff;
}
.text-2-6 {
  text-align: left;
  vertical-align: top;
  font-size: 14px;
  font-family: Poppins;
  letter-spacing: 3.5%;
  line-height: 175.99999904632568%;
  color: #333333;
}
.img-2-7 {
  height: 43px;
  width: 39px;
}
.component-8 {
  height: 55px;
  width: 203px;
  background-color: #ffffff;
}
.component-8 {
  height: 55px;
  width: 203px;
  background-color: #ffffff;
}
.rectangle-5 {
  height: 50px;
  width: 168px;
  border: 1px solid #333333;
}
.text-2-8 {
  text-align: left;
  vertical-align: top;
  font-size: 18px;
  font-family: Poppins;
  line-height: auto;
  color: #333333;
}
.frame-6 {
  height: 226px;
  width: 235px;
  background-color: #ffffff;
}
.img-2-9 {
  height: 226px;
  width: 235px;
}
.ellipse-3-4 {
  height: 191px;
  width: 201px;
}
.frame-2-0 {
  height: 226px;
  width: 235px;
  background-color: #ffffff;
}
.img-3-0 {
  height: 226px;
  width: 235px;
}
.ellipse-3-4 {
  height: 191px;
  width: 201px;
}
.frame-2-1 {
  height: 226px;
  width: 235px;
  background-color: #ffffff;
}
.img-3-1 {
  height: 226px;
  width: 235px;
}
.ellipse-3-4 {
  height: 191px;
  width: 201px;
}
.frame-1-9 {
  height: 516px;
  width: 1072px;
  background-color: #ffffff;
}
.text-3-2 {
  opacity: 0.10000000149011612;
  text-align: left;
  vertical-align: top;
  font-size: 96px;
  font-family: Poppins;
  letter-spacing: 9%;
  line-height: auto;
  color: #620c0b;
}
.text-3-3 {
  text-align: left;
  vertical-align: top;
  font-size: 36px;
  font-family: Poppins;
  line-height: auto;
  color: #352b2b;
}
.text-3-4 {
  text-align: left;
  vertical-align: top;
  font-size: 13px;
  font-family: undefined;
  letter-spacing: 3.5%;
  line-height: undefined;
  color: #352b2b;
}
.frame-6 {
  height: 226px;
  width: 235px;
  background-color: #ffffff;
}
.img-3-5 {
  height: 226px;
  width: 235px;
}
.ellipse-3-4 {
  height: 191px;
  width: 201px;
}
.frame-7 {
  height: 226px;
  width: 235px;
  background-color: #ffffff;
}
.img-3-6 {
  height: 226px;
  width: 235px;
}
.ellipse-3-4 {
  height: 191px;
  width: 201px;
}
.frame-8 {
  height: 145px;
  width: 263px;
  background-color: #ffffff;
}
.frame-8 {
  height: 145px;
  width: 263px;
  background-color: #ffffff;
}
.text-3-7 {
  text-align: center;
  vertical-align: top;
  font-size: 18px;
  font-family: Poppins;
  letter-spacing: 6.5%;
  line-height: auto;
  color: #620c0d;
}
.text-3-8 {
  text-align: center;
  vertical-align: top;
  font-size: 18px;
  font-family: Poppins;
  letter-spacing: 6.5%;
  line-height: auto;
  color: #333333;
}
.component-1 {
  height: 145px;
  width: 263px;
  background-color: #ffffff;
}
.img-3-9 {
  height: 145px;
  width: 263px;
  background-color: #ffffff;
}
.component-2 {
  height: 145px;
  width: 263px;
  background-color: #ffffff;
}
.component-2 {
  height: 145px;
  width: 263px;
  background-color: #ffffff;
}
.text-4-0 {
  text-align: center;
  vertical-align: top;
  font-size: 18px;
  font-family: Poppins;
  letter-spacing: 6.5%;
  line-height: auto;
  color: #333333;
}
.text-4-1 {
  text-align: center;
  vertical-align: top;
  font-size: 18px;
  font-family: Poppins;
  letter-spacing: 6.5%;
  line-height: auto;
  color: #620c0d;
}
.component-3 {
  height: 145px;
  width: 263px;
  background-color: #ffffff;
}
.component-3 {
  height: 145px;
  width: 263px;
  background-color: #ffffff;
}
.text-4-2 {
  text-align: center;
  vertical-align: top;
  font-size: 18px;
  font-family: Poppins;
  letter-spacing: 6.5%;
  line-height: auto;
  color: #333333;
}
.text-4-3 {
  text-align: center;
  vertical-align: top;
  font-size: 18px;
  font-family: Poppins;
  letter-spacing: 6.5%;
  line-height: auto;
  color: #620c0d;
}
.img-4-4 {
  height: 183px;
  width: 1321px;
}
.img-4-5 {
  height: 183px;
  width: 1321px;
}
.rectangle-4 {
  height: 55px;
  width: 1152px;
  background-color: #ffffff;
}
.img-4-6 {
  height: 1793px;
  width: 1925px;
  background-color: #620c0d;
}
.frame-2 {
  height: 518px;
  width: 456px;
  background-color: #ffffff;
}
.ellipse-2 {
  transform: rotate(-180deg);
  height: 474px;
  width: 474px;
}
.ellipse-3 {
  transform: rotate(-180deg);
  height: 474px;
  width: 474px;
}
.ellipse-4 {
  transform: rotate(-180deg);
  height: 474px;
  width: 474px;
}
.ellipse-5 {
  transform: rotate(-180deg);
  height: 474px;
  width: 474px;
}
.ellipse-6 {
  transform: rotate(-180deg);
  height: 474px;
  width: 474px;
}
.ellipse-8 {
  transform: rotate(-180deg);
  height: 474px;
  width: 474px;
}
.ellipse-7 {
  transform: rotate(-180deg);
  height: 474px;
  width: 474px;
}
.frame-3 {
  height: 466px;
  width: 479px;
  background-color: #ffffff;
}
.ellipse-9 {
  height: 40px;
  width: 40px;
}
.ellipse-1-0 {
  height: 40px;
  width: 40px;
}
.ellipse-1-1 {
  height: 40px;
  width: 40px;
}
.ellipse-1-2 {
  height: 40px;
  width: 40px;
}
.ellipse-1-3 {
  height: 40px;
  width: 40px;
}
.ellipse-1-4 {
  height: 40px;
  width: 40px;
}
.ellipse-1-5 {
  height: 40px;
  width: 40px;
}
.text-4-7 {
  text-align: left;
  vertical-align: top;
  font-size: 26px;
  font-family: Poppins;
  line-height: auto;
  color: #ffffff;
}
.text-4-8 {
  text-align: left;
  vertical-align: top;
  font-size: 26px;
  font-family: Poppins;
  line-height: auto;
  color: #ffffff;
}
.text-4-9 {
  text-align: left;
  vertical-align: top;
  font-size: 26px;
  font-family: Poppins;
  line-height: auto;
  color: #ffffff;
}
.text-5-0 {
  text-align: left;
  vertical-align: top;
  font-size: 26px;
  font-family: Poppins;
  line-height: auto;
  color: #ffffff;
}
.text-5-1 {
  text-align: left;
  vertical-align: top;
  font-size: 26px;
  font-family: Poppins;
  line-height: auto;
  color: #ffffff;
}
.text-5-2 {
  text-align: left;
  vertical-align: top;
  font-size: 26px;
  font-family: Poppins;
  line-height: auto;
  color: #ffffff;
}
.text-5-3 {
  text-align: left;
  vertical-align: top;
  font-size: 26px;
  font-family: Poppins;
  line-height: auto;
  color: #ffffff;
}
.text-5-4 {
  text-align: center;
  vertical-align: top;
  font-size: 48px;
  font-family: Poppins;
  letter-spacing: 9%;
  line-height: auto;
  color: #ffffff;
}
.text-5-5 {
  text-align: center;
  vertical-align: top;
  font-size: 48px;
  font-family: Poppins;
  letter-spacing: 9%;
  line-height: auto;
  color: #ffffff;
}
.group-3 {
  height: 136px;
  width: 1425px;
}
.ellipse-1-6 {
  height: 17px;
  width: 17px;
}
.ellipse-1-7 {
  height: 17px;
  width: 17px;
}
.ellipse-1-8 {
  height: 17px;
  width: 17px;
}
.ellipse-1-9 {
  height: 17px;
  width: 17px;
}
.ellipse-2-0 {
  height: 17px;
  width: 17px;
}
.ellipse-2-1 {
  height: 17px;
  width: 17px;
}
.ellipse-2-2 {
  height: 17px;
  width: 17px;
}
.ellipse-2-3 {
  height: 17px;
  width: 17px;
}
.ellipse-2-4 {
  height: 17px;
  width: 17px;
}
.group-4 {
  height: 136px;
  width: 1249px;
}
.ellipse-1-6 {
  height: 17px;
  width: 17px;
}
.ellipse-1-7 {
  height: 17px;
  width: 17px;
}
.ellipse-1-8 {
  height: 17px;
  width: 17px;
}
.ellipse-1-9 {
  height: 17px;
  width: 17px;
}
.ellipse-2-0 {
  height: 17px;
  width: 17px;
}
.ellipse-2-1 {
  height: 17px;
  width: 17px;
}
.ellipse-2-2 {
  height: 17px;
  width: 17px;
}
.ellipse-2-3 {
  height: 17px;
  width: 17px;
}
.text-5-6 {
  text-align: left;
  vertical-align: middle;
  font-size: 12px;
  font-family: Poppins;
  letter-spacing: 3.5%;
  line-height: 143.99999380111694%;
  color: #ffffff;
}
.text-5-7 {
  text-align: left;
  vertical-align: middle;
  font-size: 12px;
  font-family: Poppins;
  letter-spacing: 3.5%;
  line-height: 143.99999380111694%;
  color: #ffffff;
}
.text-5-8 {
  text-align: left;
  vertical-align: middle;
  font-size: 12px;
  font-family: Poppins;
  letter-spacing: 3.5%;
  line-height: 143.99999380111694%;
  color: #ffffff;
}
.text-5-9 {
  text-align: left;
  vertical-align: middle;
  font-size: 12px;
  font-family: Poppins;
  letter-spacing: 3.5%;
  line-height: 143.99999380111694%;
  color: #ffffff;
}
.text-6-0 {
  text-align: left;
  vertical-align: middle;
  font-size: 12px;
  font-family: Poppins;
  letter-spacing: 3.5%;
  line-height: 143.99999380111694%;
  color: #ffffff;
}
.text-6-1 {
  text-align: left;
  vertical-align: middle;
  font-size: 12px;
  font-family: Poppins;
  letter-spacing: 3.5%;
  line-height: 143.99999380111694%;
  color: #ffffff;
}
.text-6-2 {
  text-align: left;
  vertical-align: middle;
  font-size: 12px;
  font-family: Poppins;
  letter-spacing: 3.5%;
  line-height: 143.99999380111694%;
  color: #ffffff;
}
.text-6-3 {
  text-align: left;
  vertical-align: middle;
  font-size: 12px;
  font-family: Poppins;
  letter-spacing: 3.5%;
  line-height: 143.99999380111694%;
  color: #ffffff;
}
.text-6-4 {
  text-align: left;
  vertical-align: middle;
  font-size: 12px;
  font-family: Poppins;
  letter-spacing: 3.5%;
  line-height: 143.99999380111694%;
  color: #ffffff;
}
.text-6-5 {
  text-align: left;
  vertical-align: middle;
  font-size: 12px;
  font-family: Poppins;
  letter-spacing: 3.5%;
  line-height: 143.99999380111694%;
  color: #ffffff;
}
.text-6-6 {
  text-align: left;
  vertical-align: middle;
  font-size: 11px;
  font-family: Poppins;
  letter-spacing: 3.5%;
  line-height: 143.99999380111694%;
  color: #ffffff;
}
.text-6-7 {
  text-align: left;
  vertical-align: middle;
  font-size: 11px;
  font-family: Poppins;
  letter-spacing: 3.5%;
  line-height: 143.99999380111694%;
  color: #ffffff;
}
.text-6-8 {
  text-align: left;
  vertical-align: middle;
  font-size: 12px;
  font-family: Poppins;
  letter-spacing: 3.5%;
  line-height: 143.99999380111694%;
  color: #ffffff;
}
.text-6-9 {
  text-align: left;
  vertical-align: middle;
  font-size: 12px;
  font-family: Poppins;
  letter-spacing: 3.5%;
  line-height: 143.99999380111694%;
  color: #ffffff;
}
.text-7-0 {
  text-align: left;
  vertical-align: middle;
  font-size: 12px;
  font-family: Poppins;
  letter-spacing: 3.5%;
  line-height: 143.99999380111694%;
  color: #ffffff;
}
.text-7-1 {
  text-align: left;
  vertical-align: middle;
  font-size: 12px;
  font-family: Poppins;
  letter-spacing: 3.5%;
  line-height: 143.99999380111694%;
  color: #ffffff;
}
.text-7-2 {
  text-align: left;
  vertical-align: middle;
  font-size: 10px;
  font-family: Poppins;
  letter-spacing: 0.5%;
  line-height: 143.99999380111694%;
  color: #ffffff;
}
.ellipse-3-3 {
  height: 42px;
  width: 42px;
}
.text-7-3 {
  text-align: left;
  vertical-align: top;
  font-size: 24px;
  font-family: Poppins;
  letter-spacing: 9.5%;
  line-height: 62.00000047683716%;
  color: #333333;
}
.text-7-4 {
  text-align: left;
  vertical-align: top;
  font-size: 24px;
  font-family: Poppins;
  letter-spacing: 9.5%;
  line-height: 62.00000047683716%;
  color: #352b2b;
}
.group-5 {
  height: 398px;
  width: 278px;
}
.text-7-5 {
  text-align: center;
  vertical-align: top;
  font-size: 20px;
  font-family: Poppins;
  line-height: auto;
  color: #620c0d;
}
.text-7-6 {
  text-align: center;
  vertical-align: top;
  font-size: 13px;
  font-family: Poppins;
  letter-spacing: 3.5%;
  line-height: 212.5%;
  color: #352b2b;
}
.ellipse-3-5 {
  height: 98px;
  width: 98px;
}
.img-7-7 {
  height: 60px;
  width: 60px;
  background-color: #ffffff;
}
.group-6 {
  height: 398px;
  width: 278px;
}
.text-7-8 {
  text-align: center;
  vertical-align: top;
  font-size: 20px;
  font-family: Poppins;
  line-height: auto;
  color: #ffffff;
}
.text-7-9 {
  text-align: center;
  vertical-align: top;
  font-size: 13px;
  font-family: Poppins;
  letter-spacing: 3.5%;
  line-height: 212.5%;
  color: #ffffff;
}
.ellipse-3-5 {
  height: 98px;
  width: 98px;
}
.group-7 {
  height: 398px;
  width: 278px;
}
.text-8-0 {
  text-align: center;
  vertical-align: top;
  font-size: 20px;
  font-family: Poppins;
  line-height: auto;
  color: #620c0d;
}
.text-8-1 {
  text-align: center;
  vertical-align: top;
  font-size: 13px;
  font-family: Poppins;
  letter-spacing: 3.5%;
  line-height: 212.5%;
  color: #352b2b;
}
.ellipse-3-5 {
  height: 98px;
  width: 98px;
}
.group-8 {
  height: 406px;
  width: 278px;
}
.text-8-2 {
  text-align: center;
  vertical-align: top;
  font-size: 20px;
  font-family: Poppins;
  line-height: auto;
  color: #620c0d;
}
.text-8-3 {
  text-align: center;
  vertical-align: top;
  font-size: 13px;
  font-family: Poppins;
  letter-spacing: 3.5%;
  line-height: 212.5%;
  color: #352b2b;
}
.ellipse-3-5 {
  height: 98px;
  width: 98px;
}
.img-8-4 {
  height: 60px;
  width: 44px;
  background-color: #ffffff;
}
.img-8-5 {
  height: 60px;
  width: 60px;
  background-color: #ffffff;
}
.flat--color--icons-:advertising {
  height: 60px;
  width: 60px;
  background-color: #ffffff;
}
.img-8-6 {
  height: 34px;
  width: 27px;
}
.img-8-7 {
  height: 32px;
  width: 48px;
}
.text-8-8 {
  opacity: 0.10000000149011612;
  text-align: left;
  vertical-align: top;
  font-size: 96px;
  font-family: Poppins;
  letter-spacing: 9%;
  line-height: auto;
  color: #620c0b;
}
.text-8-9 {
  text-align: left;
  vertical-align: top;
  font-size: 24px;
  font-family: Poppins;
  letter-spacing: 9.5%;
  line-height: 62.00000047683716%;
  color: #333333;
}
.desktop-7 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 5975px;
  overflow: hidden;
  position: relative;
  width: 1913px;
}

.overlap-group11 {
  height: 1308px;
  margin-right: 1.0px;
  margin-top: -157px;
  position: relative;
  width: 2386px;
}

.frame-1 {
  height: 1275px;
  left: 0;
  position: absolute;
  top: 33px;
  width: 2386px;
}

.rectangle-4 {
  background-color: var(--white);
  height: 55px;
  left: 281px;
  position: absolute;
  top: 0;
  width: 1152px;
}

.objectives-container {
  height: 113px;
  margin-left: 86.0px;
  margin-top: 166px;
  position: relative;
  width: 737px;
}

.our-objectives {
  left: 77px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 66px;
  width: 497px;
}

.objectives {
  left: 0;
  letter-spacing: 8.64px;
  opacity: 0.1;
  position: absolute;
  top: 0;
  width: 737px;
}

.overlap-group-container {
  align-items: flex-start;
  display: flex;
  height: 565px;
  margin-right: 1.0px;
  margin-top: 28px;
  min-width: 1514px;
}

.overlap-group15 {
  height: 444px;
  position: relative;
  width: 356px;
}

.frame-6 {
  height: 226px;
  left: 121px;
  position: absolute;
  top: 0;
  width: 235px;
}

.group-5 {
  align-items: flex-start;
  display: flex;
  height: 398px;
  justify-content: center;
  left: 0;
  min-width: 278px;
  position: absolute;
  top: 46px;
  transform: rotate(180deg);
}

.overlap-group4 {
  height: 432px;
  margin-top: -16.0px;
  position: relative;
  width: 318px;
}

.rectangle-15 {
  height: 416px;
  left: 0;
  position: absolute;
  top: 16px;
  transform: rotate(-180deg);
  width: 318px;
}

.positioning {
  left: 51px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 145px;
  transform: rotate(-180deg);
  width: 216px;
}

.to-position-africa-a {
  left: 48px;
  letter-spacing: 0.46px;
  line-height: 27.6px;
  position: absolute;
  text-align: center;
  top: 198px;
  transform: rotate(-180deg);
  width: 222px;
}

.ellipse-35 {
  height: 138px;
  left: 90px;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 138px;
}

.gisposition {
  align-items: flex-start;
  display: flex;
  height: 60px;
  left: 129px;
  padding: 0.0px 12.0px;
  position: absolute;
  top: 35px;
  width: 60px;
}

.vector-container {
  height: 51px;
  position: relative;
  width: 36px;
}

.vector {
  height: 51px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 36px;
}

.vector-1 {
  height: 1px;
  left: 29px;
  object-fit: cover;
  position: absolute;
  top: 29px;
  transform: rotate(-180deg);
  width: 1px;
}

.overlap-group12 {
  align-self: flex-end;
  height: 519px;
  margin-left: 56px;
  position: relative;
  width: 1102px;
}

.frame-20 {
  height: 226px;
  left: 662px;
  position: absolute;
  top: 5px;
  width: 235px;
}

.frame-21 {
  height: 226px;
  left: 205px;
  position: absolute;
  top: 293px;
  width: 235px;
}

.icomoon-freepower {
  background-size: 100% 100%;
  height: 60px;
  left: 117px;
  position: absolute;
  top: 19px;
  width: 44px;
}

.overlap-group-container-1 {
  height: 516px;
  margin-right: 5.0px;
  margin-top: 262px;
  position: relative;
  width: 1512px;
}

.overlap-group16 {
  height: 516px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1216px;
}

.frame-7 {
  height: 226px;
  left: 903px;
  position: absolute;
  top: 206px;
  width: 235px;
}

.overlap-group13 {
  height: 344px;
  left: 1207px;
  position: absolute;
  top: 102px;
  width: 305px;
}

.frame-6-1 {
  height: 226px;
  left: 70px;
  position: absolute;
  top: 2px;
  width: 235px;
}

.overlap-group10 {
  align-self: flex-end;
  height: 1971px;
  margin-right: -704px;
  margin-top: 313px;
  position: relative;
  width: 2733px;
}

.istockphoto-656579798-612x612-3 {
  height: 183px;
  left: 92px;
  position: absolute;
  top: 0;
  width: 1321px;
}

.istockphoto-656579798-612x612-4 {
  height: 183px;
  left: 1412px;
  position: absolute;
  top: 0;
  width: 1321px;
}

.rectangle-14 {
  height: 1793px;
  left: 105px;
  position: absolute;
  top: 178px;
  width: 1925px;
}

.ellipse-container {
   background-size: 100% 100%;
  height: 474px;
  left: 581px;
  position: absolute;
  top: 439px;
  width: 474px;
}

.ellipse {
  height: 474px;
  left: 0;
  position: absolute;
  top: 0;
  width: 474px;
}

.ellipse-5 {
  height: 462px;
  left: 0;
  position: absolute;
  top: 12px;
  width: 474px;
}

.ellipse-6 {
  height: 328px;
  left: 0;
  position: absolute;
  top: 146px;
  width: 474px;
}

.ellipse-8 {
  height: 237px;
  left: 0;
  position: absolute;
  top: 237px;
  width: 425px;
}
/* 
.ellipse-7 {
  height: 227px;
  left: 0;
  position: absolute;
  top: 237px;
  width: 199px;
}

.token-distribution {
  left: 621px;
  letter-spacing: 4.32px;
  position: absolute;
  text-align: center;
  top: 280px;
  width: 906px;
}

.ubuntu-dao-roadmap {
  left: 615px;
  letter-spacing: 4.32px;
  position: absolute;
  text-align: center;
  top: 1217px;
  width: 906px;
}

.vector-1-1 {
  height: 2px;
  left: 0;
  position: absolute;
  top: 1550px;
  width: 2132px;
}

.group-3 {
  height: 136px;
  left: 302px;
  position: absolute;
  top: 1415px;
  width: 1425px;
}

.group-4 {
  height: 136px;
  left: 377px;
  position: absolute;
  top: 1552px;
  width: 1249px;
}

.community-building {
  height: 53px;
  left: 319px;
  letter-spacing: 0.42px;
  line-height: 17.3px;
  position: absolute;
  top: 1458px;
  width: 104px;
}

.centralized-exchange-listings {
  height: 53px;
  left: 1101px;
  letter-spacing: 0.42px;
  line-height: 17.3px;
  position: absolute;
  top: 1589px;
  width: 104px;
}

.website-launch {
  height: 20px;
  left: 394px;
  letter-spacing: 0.42px;
  line-height: 17.3px;
  position: absolute;
  top: 1606px;
  white-space: nowrap;
  width: 104px;
}

.auditing {
  height: 20px;
  left: 1204px;
  letter-spacing: 0.42px;
  line-height: 17.3px;
  position: absolute;
  top: 1475px;
  white-space: nowrap;
  width: 104px;
}

.patnerships-support {
  height: 53px;
  left: 490px;
  letter-spacing: 0.42px;
  line-height: 17.3px;
  position: absolute;
  top: 1458px;
  width: 104px;
}

.release-of-the-ubuntu-nft-idea {
  height: 53px;
  left: 1274px;
  letter-spacing: 0.42px;
  line-height: 17.3px;
  position: absolute;
  top: 1589px;
  width: 104px;
}

.presale {
  height: 20px;
  left: 572px;
  letter-spacing: 0.42px;
  line-height: 17.3px;
  position: absolute;
  top: 1606px;
  white-space: nowrap;
  width: 104px;
}

.development-of-the-b {
  height: 85px;
  left: 1734px;
  letter-spacing: 0.42px;
  line-height: 17.3px;
  position: absolute;
  top: 1442px;
  width: 104px;
}

.airdrop-support-from {
  height: 53px;
  left: 676px;
  letter-spacing: 0.42px;
  line-height: 17.3px;
  position: absolute;
  top: 1458px;
  width: 104px;
}

.concept-launch-for-t {
  height: 53px;
  left: 1452px;
  letter-spacing: 0.42px;
  line-height: 17.3px;
  position: absolute;
  top: 1589px;
  width: 104px;
}

.snapshot-of-wakanda {
  height: 81px;
  left: 750px;
  letter-spacing: 0.39px;
  line-height: 15.8px;
  position: absolute;
  top: 1575px;
  width: 109px;
}

.ubuntu-nf-ts-drop {
  height: 81px;
  left: 1551px;
  letter-spacing: 0.39px;
  line-height: 15.8px;
  position: absolute;
  top: 1444px;
  width: 109px;
}

.official-tge-first-airdrop {
  height: 37px;
  left: 851px;
  letter-spacing: 0.42px;
  line-height: 17.3px;
  position: absolute;
  top: 1466px;
  width: 104px;
}

.team-formulation-and {
  height: 53px;
  left: 1632px;
  letter-spacing: 0.42px;
  line-height: 17.3px;
  position: absolute;
  top: 1589px;
  width: 104px;
}

.decentralized-exchange-listing {
  height: 53px;
  left: 923px;
  letter-spacing: 0.42px;
  line-height: 17.3px;
  position: absolute;
  top: 1589px;
  width: 104px;
}

.roadmap-update {
  height: 53px;
  left: 1375px;
  letter-spacing: 0.42px;
  line-height: 17.3px;
  position: absolute;
  top: 1458px;
  width: 104px;
}

.listing-in-coinmarketcap-coingecko {
  height: 46px;
  left: 1020px;
  letter-spacing: 0.05px;
  line-height: 14.4px;
  position: absolute;
  top: 1462px;
  width: 85px;
}

.flex-row {
  align-items: center;
  display: flex;
  height: 287px;
  margin-left: 8.0px;
  margin-top: 49px;
  min-width: 1505px;
}

.flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 287px;
  width: 240px;
}

.ellipse-33 {
  background-color: var(--mine-shaft);
  border-radius: 21px;
  height: 42px;
  margin-left: 2px;
  width: 42px;
}

.flex-row-1 {
  align-items: flex-start;
  display: flex;
  margin-left: 2px;
  margin-top: 28px;
  min-width: 205px;
  position: relative;
} */
/* 
.akar-iconstelegram-fill {
   background-size: 100% 100%;
  height: 30px;
  width: 30px;
}

.akar-iconsfacebook-fill {
   background-size: 100% 100%;
  height: 30px;
  margin-left: 5px;
  width: 30px;
}

.akar-iconsreddit-fill {
   background-size: 100% 100%;
  height: 30px;
  margin-left: 5px;
  width: 30px;
}

.surname {
  letter-spacing: 2.28px;
  line-height: 14.9px;
  margin-top: 34px;
  min-height: 153px;
  text-shadow: 0px 4px 30px 
#0000004c;
  width: 240px;
}

.x2347013395472-info-ubuntudaocom {
  letter-spacing: 2.28px;
  line-height: 14.9px;
  margin-left: 962px;
  margin-top: 66.0px;
  min-height: 53px;
  text-shadow: 0px 4px 30px 
#0000004c;
  width: 303px;
}

.span {
  letter-spacing: 0.55px;
}

.copyrightubuntu-dao {
  letter-spacing: 2.28px;
  line-height: 14.9px;
  margin-left: 1.0px;
  margin-top: 4px;
  min-height: 33px;
  text-shadow: 0px 4px 30px 
#0000004c;
  width: 338px;
}

.group-9 {
  align-items: flex-start;
  display: flex;
  height: 494px;
  margin-right: 15.0px;
  margin-top: 8px;
  min-width: 1584px;
}

.overlap-group {
  align-self: flex-end;
  height: 463px;
  position: relative;
  width: 494px;
}

.frame-4 {
  height: 226px;
  left: 252px;
  position: absolute;
  top: 193px;
  width: 235px;
}

.frame-5 {
  height: 226px;
  left: 0;
  position: absolute;
  top: 0;
  width: 235px;
}

.flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 484px;
  min-height: 481px;
  position: relative;
  width: 598px;
}

.overlap-group1 {
  height: 120px;
  position: relative;
  width: 598px;
}

.title {
  left: 7px;
  letter-spacing: 8.64px;
  opacity: 0.1;
  position: absolute;
  top: 0;
  width: 591px;
}

.what-is-ubuntu-dao {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 73px;
  width: 497px;
}

.collaborative-commun {
  letter-spacing: 0;
  margin-top: 1px;
  min-height: 27px;
}

.it-is-a-blockchain-p {
  letter-spacing: 0.46px;
  line-height: 27.6px;
  margin-left: 1px;
  margin-top: 12px;
  min-height: 208px;
  width: 445px;
}

.component-7 {
  align-items: flex-start;
  display: flex;
  height: 73px;
  left: 44px;
  min-width: 366px;
  position: absolute;
  top: 71px;
}

.component-7-1 {
  align-items: center;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0px 4px 20px 
#620c0d1a;
  display: flex;
  height: 73px;
  min-width: 366px;
  padding: 0 13px;
}

.istockphoto-656579798-612x612-3-1 {
  height: 43px;
  width: 39px;
}

.x100-commuity-driven {
  letter-spacing: 0.49px;
  line-height: 24.6px;
  margin-left: 22px;
  margin-top: 2.0px;
  min-height: 27px;
  white-space: nowrap;
  width: 268px;
}

.component-6 {
  align-items: flex-start;
  display: flex;
  height: 72px;
  left: 128px;
  min-width: 366px;
  position: absolute;
  top: 178px;
}

.component-6-1 {
  align-items: center;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0px 4px 20px 
#620c0d1a;
  display: flex;
  height: 72px;
  min-width: 366px;
  padding: 14px 20px;
}

.istockphoto-656579798-612x612-4-1 {
  align-self: flex-end;
  height: 43px;
  width: 39px;
}

.pan-african-approach {
  letter-spacing: 0.49px;
  line-height: 24.6px;
  margin-left: 24px;
  margin-top: 2.0px;
  min-height: 22px;
  white-space: nowrap;
  width: 194px;
}

.component-5 {
  align-items: flex-start;
  display: flex;
  height: 72px;
  left: 44px;
  min-width: 366px;
  position: absolute;
  top: 284px;
}

.component-5-1 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0px 4px 20px 
#620c0d1a;
  display: flex;
  height: 72px;
  justify-content: flex-end;
  min-width: 366px;
  padding: 14px;
}

.istockphoto-656579798-612x612-5 {
  height: 43px;
  width: 39px;
}

.strategic-charity-through-da-os {
  align-self: center;
  letter-spacing: 0.49px;
  line-height: 24.6px;
  margin-left: 16px;
  min-height: 22px;
  white-space: nowrap;
  width: 278px;
}

.component-4 {
  align-items: flex-start;
  display: flex;
  height: 73px;
  left: 128px;
  min-width: 366px;
  position: absolute;
  top: 390px;
}

.component-4-1 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0px 4px 20px 
#620c0d1a;
  display: flex;
  height: 73px;
  min-width: 366px;
  padding: 14px 26px;
}

.istockphoto-656579798-612x612-6 {
  height: 43px;
  width: 39px;
}

.transparency {
  align-self: center;
  letter-spacing: 0.49px;
  line-height: 24.6px;
  margin-bottom: 1.0px;
  margin-left: 20px;
  min-height: 22px;
  white-space: nowrap;
  width: 127px;
}

.component-8 {
  align-items: flex-start;
  display: flex;
  height: 55px;
  margin-top: 58px;
  min-width: 203px;
  position: relative;
}

.component-8-1 {
  align-items: flex-start;
  display: flex;
  min-width: 203px;
}

.overlap-group-1 {
  height: 55px;
  position: relative;
  width: 203px;
}

.rectangle-5 {
  height: 50px;
  left: 0;
  position: absolute;
  top: 0;
  width: 168px;
}

.read-more {
  left: 36px;
  letter-spacing: 0;
  position: absolute;
  top: 12px;
  width: 167px;
}

.group-6 {
  align-items: flex-start;
  display: flex;
  height: 398px;
  justify-content: center;
  left: 0;
  min-width: 278px;
  position: absolute;
  top: 0;
}

.overlap-group5 {
  height: 436px;
  margin-top: -20px;
  position: relative;
  width: 318px;
}

.rectangle-15-1 {
  height: 416px;
  left: 0;
  position: absolute;
  top: 20px;
  width: 318px;
}

.empowering {
  left: 51px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 149px;
  width: 216px;
}

.to-power-the-startup {
  left: 51px;
  letter-spacing: 0.46px;
  line-height: 27.6px;
  position: absolute;
  text-align: center;
  top: 218px;
  width: 222px;
} */
/* 
.ellipse-35-1 {
  height: 138px;
  left: 90px;
  position: absolute;
  top: 0;
  width: 138px;
}

.group-7 {
  align-items: flex-start;
  display: flex;
  height: 398px;
  justify-content: center;
  left: 412px;
  min-width: 278px;
  position: absolute;
  top: 0;
}

.overlap-group-2 {
  height: 436px;
  margin-top: -20px;
  position: relative;
  width: 318px;
}

.rectangle-15-2 {
  height: 416px;
  left: 0;
  position: absolute;
  top: 20px;
  width: 318px;
}

.creativity {
  left: 51px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 149px;
  width: 216px;
}

.e-the {
  left: 48px;
  letter-spacing: 0.46px;
  line-height: 27.6px;
  position: absolute;
  text-align: center;
  top: 218px;
  width: 222px;
}

.ellipse-35-2 {
  height: 138px;
  left: 90px;
  position: absolute;
  top: 0;
  width: 138px;
}

.group-7.group-8 {
  height: 406px;
  left: 824px;
} */
/* 
.ioncreate {
  align-items: flex-start;
  display: flex;
  height: 60px;
  left: 525px;
  padding: 5.1px 5.1px;
  position: absolute;
  top: 17px;
  width: 60px;
}

.vector-container-1 {
  height: 49px;
  position: relative;
  width: 49px;
}

.vector-2 {
  height: 6px;
  left: 43px;
  position: absolute;
  top: 0;
  width: 6px;
}

.vector-3 {
  height: 26px;
  left: 19px;
  position: absolute;
  top: 5px;
  width: 26px;
}

.vector-4 {
  height: 42px;
  left: 0;
  position: absolute;
  top: 8px;
  width: 42px;
}

.flat-color-iconsadvertising {
  align-items: flex-end;
  display: flex;
  height: 60px;
  left: 933px;
  padding: 6.7px 5.0px;
  position: absolute;
  top: 19px;
  width: 60px;
}

.overlap-group9 {
  height: 46px;
  position: relative;
  width: 49px;
}

.vector-container-2 {
  height: 35px;
  left: 14px;
  position: absolute;
  top: 3px;
  width: 28px;
}

.vector-5 {
  height: 6px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 26px;
  width: 6px;
}

.vector-6 {
  height: 35px;
  left: 5px;
  position: absolute;
  top: 0;
  width: 23px;
}

.group {
  align-items: flex-start;
  display: flex;
  height: 32px;
  left: 0;
  min-width: 49px;
  position: absolute;
  top: 14px;
}

.vector-container-3 {
  height: 33px;
  margin-top: -0.25px;
  position: relative;
  width: 20px;
}

.vector-7 {
  height: 13px;
  left: 0;
  position: absolute;
  top: 0;
  width: 13px;
}

.vector-8 {
  height: 22px;
  left: 5px;
  position: absolute;
  top: 11px;
  width: 14px;
}

.vector-9 {
  height: 8px;
  margin-left: 21px;
  margin-top: 2.25px;
  width: 8px;
}

.vector-10 {
  height: 18px;
  left: 4px;
  position: absolute;
  top: 11px;
  width: 16px;
}

.vector-11 {
  height: 40px;
  left: 40px;
  position: absolute;
  top: 0;
  width: 5px;
}

.frame-19 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 516px;
  position: absolute;
  top: 0;
  width: 1072px;
}

.tokenomics-container {
  height: 117px;
  position: relative;
  width: 776px;
}

.tokenomics {
  left: 0;
  letter-spacing: 8.64px;
  opacity: 0.1;
  position: absolute;
  top: 0;
  width: 776px;
}

.tokenomics-1 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 70px;
  width: 497px;
}

.presale-166-25-tr {
  letter-spacing: 0.46px;
  line-height: 13px;
  margin-top: 46px;
  min-height: 208px;
  width: 445px;
}

.span-1 {
  letter-spacing: 0.06px;
  line-height: 22.9px;
}

.frame-8 {
  align-items: flex-start;
  display: flex;
  height: 145px;
  left: 919px;
  min-width: 263px;
  position: absolute;
  top: 160px;
}

.frame-8-1 {
  align-items: flex-start;
  display: flex;
  height: 145px;
  justify-content: center;
  min-width: 263px;
}

.overlap-group-3 {
  align-items: flex-end;
   background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-top: -16px;
  min-height: 185px;
  padding: 52px 33px;
  width: 303px;
}

.name {
  align-self: center;
  letter-spacing: 1.17px;
  margin-left: 1.0px;
  min-height: 34px;
  text-align: center;
  width: 180px;
}

.text-1 {
  letter-spacing: 1.17px;
  margin-top: 9px;
  min-height: 34px;
  text-align: center;
  width: 236px;
}

.component-3 {
  align-items: flex-start;
  display: flex;
  height: 145px;
  left: 953px;
  min-width: 263px;
  position: absolute;
  top: 340px;
}

.component-3-1 {
  align-items: flex-start;
  display: flex;
  height: 145px;
  justify-content: center;
  min-width: 263px;
}

.overlap-group-4 {
  align-items: flex-end;
   background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-top: -16px;
  min-height: 185px;
  padding: 50px 29px;
  width: 303px;
}

.total-supply {
  letter-spacing: 1.17px;
  margin-right: 28px;
  min-height: 34px;
  text-align: center;
  width: 180px;
}

.text-3 {
  letter-spacing: 1.17px;
  margin-top: 4px;
  min-height: 34px;
  text-align: center;
  width: 236px;
}

.component-1 {
  align-items: flex-start;
  display: flex;
  height: 145px;
  left: 0;
  min-width: 263px;
  position: absolute;
  top: 0;
}

.component-1-1 {
  align-items: flex-start;
  display: flex;
  height: 145px;
  justify-content: center;
  min-width: 263px;
}

.overlap-group-5 {
   background-size: 100% 100%;
  height: 185px;
  margin-top: -16px;
  position: relative;
  width: 303px;
}

.rectangle-11-stroke {
  height: 185px;
  left: 0;
  position: absolute;
  top: 0;
  width: 303px;
} */

/* .x400000000000000 {
  height: 17px;
  left: 50px;
  position: absolute;
  top: 102px;
  width: 204px;
}

.treasury {
  height: 14px;
  left: 104px;
  position: absolute;
  top: 64px;
  width: 97px;
}

.component-2 {
  align-items: flex-start;
  display: flex;
  height: 145px;
  left: 42px;
  min-width: 263px;
  position: absolute;
  top: 199px;
}

.component-2-1 {
  align-items: flex-start;
  display: flex;
  height: 145px;
  justify-content: center;
  min-width: 263px;
}

.overlap-group-6 {
  align-items: flex-end;
   background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-top: -16px;
  min-height: 185px;
  padding: 55px 33px;
  width: 303px;
}

.presale-price {
  align-self: center;
  letter-spacing: 1.17px;
  margin-left: 1.0px;
  min-height: 34px;
  text-align: center;
  width: 180px;
}

.text-2 {
  letter-spacing: 1.17px;
  margin-top: 1px;
  min-height: 34px;
  text-align: center;
  width: 236px;
}

.frame-3 {
  align-items: center;
  display: flex;
  height: 466px;
  left: 1128px;
  min-width: 479px;
  position: absolute;
  top: 448px;
}

.ellipse-container-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 466px;
  width: 40px;
}

.ellipse-9 {
  background-color: var(--russet);
  border-radius: 20px;
  height: 40px;
  width: 40px;
}

.ellipse-10 {
  background-color: var(--dirt);
  border-radius: 20px;
  height: 40px;
  margin-top: 31px;
  width: 40px;
}

.ellipse-11 {
  background-color: var(--amazon);
  border-radius: 20px;
  height: 40px;
  margin-top: 31px;
  width: 40px;
} */
/* 
.ellipse-12 {
  background-color: var(--golden-grass);
  border-radius: 20px;
  height: 40px;
  margin-top: 31px;
  width: 40px;
}

.ellipse-13 {
  background-color: var(--mexican-red);
  border-radius: 20px;
  height: 40px;
  margin-top: 31px;
  width: 40px;
}

.ellipse-14 {
  background-color: var(--goldenrod);
  border-radius: 20px;
  height: 40px;
  margin-top: 31px;
  width: 40px;
}

.ellipse-15 {
  background-color: var(--hot-cinnamon);
  border-radius: 20px;
  height: 40px;
  margin-top: 31px;
  width: 40px;
}

.flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 28px;
  min-height: 464px;
  width: 411px;
}

.x20-liquidity {
  letter-spacing: 0;
  margin-left: 2px;
  min-height: 38px;
  width: 351px;
}

.x20-ecosystem-development {
  letter-spacing: 0;
  margin-left: 2px;
  margin-top: 33px;
  min-height: 38px;
  width: 409px;
}

.x1667-presale {
  letter-spacing: 0;
  margin-top: 33px;
  min-height: 38px;
  width: 351px;
}

.flex-col-item {
  letter-spacing: 0;
  margin-left: 2px;
  margin-top: 33px;
  min-height: 38px;
  width: 351px;
}

.ant-designinstagram-filled {
  align-items: flex-end;
  display: flex;
  height: 30px;
  margin-left: 5px;
  padding: 3.0px 3.0px;
  width: 30px;
}

.vector-12 {
  height: 24px;
  width: 24px;
}

.akar-iconstwitter-fill {
  align-items: flex-start;
  display: flex;
  height: 30px;
  margin-left: 5px;
  padding: 3.0px 0.1px;
  width: 30px;
} */

/* .vector-13 {
  height: 24px;
  margin-left: 1px;
  width: 29px;
}

.bxbxl-discord {
  align-items: flex-end;
  display: flex;
  height: 30px;
  margin-left: 5px;
  padding: 1.9px 3.1px;
  width: 30px;
}

.vector-container-4 {
  height: 25px;
  position: relative;
  width: 22px;
}

.vector-14 {
  height: 4px;
  left: 7px;
  position: absolute;
  top: 10px;
  width: 8px;
} */

/* .vector-15 {
  height: 25px;
  left: 0;
  position: absolute;
  top: 0;
  width: 22px;
}

@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,800");

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
} */

/* .container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

 